<dom-module id="kudos-stats">
<link rel="import" href="../css/kudo-style.html">
<template id="tmpkudoStats">
 <style include="cards"></style>
 <style include="stats"></style>
  <div class="card">
    <h3>Results of the event</h3>
  </div>
  <paper-tabs selected="{{selected}}">
    <paper-tab on-click="closeKudoStats">Assessment</paper-tab>
    <paper-tab on-click="getRanking">Gratefulness</paper-tab>
  </paper-tabs>

  <iron-pages selected="{{selected}}">
    <div class="resultFeedback">
      <div id="id_admin_vote" on-click="_updateActiveVote" class='power_base' style="display:none;">&nbsp;</div>
      
      <template is="dom-if" if="{{withStars}}">
        <star-positions-table id="starRanking" active-event='{{activeEvent}}' with-jury='{{withJury}}' members-jury='{{membersJury}}' cards-star='{{cards}}'></star-positions-table>
      </template>
      
      
      <template is="dom-if" if="{{withKudos}}">
        <template is="dom-repeat" items="{{kudos}}" as="kudo">
          <kudos-positions-table id="stat_{{kudo.id}}" active-event='{{activeEvent}}' kudo='{{kudo}}' id-kudo='{{kudo.id}}' with-exclusive-kudo='{{withExclusiveKudo}}' with-jury='{{withJury}}' members-jury='{{membersJury}}' cards-kudo='{{cards}}' ></kudos-positions-table>
        </template>
      </template>
      
    </div>

    <div class="resultFeedback">
      <h3>Ranking of users</h3>
      <span id="numUsers">(Number of users: {{numUsers}})</span>
      <template is="dom-repeat" items="[[users]]" as="user" id="rankingComments">
        <div>
          <div class="personItem" tabindex$="[[tabIndex]]">
            <iron-image class="avatar" sizing="contain" src="[[user.picture]]"></iron-image>
            <div class="pad">
              <div><b style="font-size: 12px;">[[user.name]]</b></div>
              <address>
                <template is="dom-if" if="{{withFeedback}}">
                  <div class="inline-block">Feedbacks: [[user.numFeedBack]]</div>
                </template>
              </address>
            </div>
          </div>
        </div>
      </template>
    </div>
  </iron-pages>
</template>
<script>
 Polymer({
    is: 'kudos-stats',
    properties: {
      activeEvent   : { type: String, notify:true },
      cards         : { type: Array, notify:true },
      kudos         : { type: Array, notify:true },
      users         : { type: Array, notify:true },
      numUsers      : { type: String, notify:true },
      selected      : { value: 0 },
      display       : { value: "block" },
      sortedRating  : { type: Array, notify:true },
      
      membersJury   : { type: String, notify:true },
      withJury      : { type: Boolean, value:false, notify:true},
      
      withExclusiveKudo:{type: Boolean, value:false, notify:true},
      withKudos     : { type: Boolean, value:false, notify:true},
      withFeedback  : { type: Boolean, value:false, notify:true},
      withStars     : { type: Boolean, value:false, notify:true},
      
      activeVotes     : {type: Boolean, value:false, notify:true},
      isAdmin         : {type: Boolean, value:false, notify:true},
    },
    getKudos:function(){
      var self = this;
      firebase.database().ref(this.activeEvent + '/kudos').once('value').then(function(snapshot) {
        self.kudos = [];
        snapshot.forEach(function(child) {
          var kudo = child.val();
          kudo.id=child.key;
          self.push('kudos', kudo);
        });
        });
    },
    getBlocks:function(){
      var ref = firebase.database().ref(this.activeEvent + "/blocks");
      var self = this;
      self.cards=[];
      ref.once("value").then(function(snapshot) {
        self.blocks = [];
        snapshot.forEach(function(child) {
          var block = child.val();
          block.id  = child.key;
          self.push('blocks', block);
          for (var idCard in block.cards) {
            var card=block.cards[idCard];
            card.idCard     = idCard;
            card.titleBlock = block.title;
            self.push('cards', card);
          }
        });
      });
    },
    compareValues:function(key, order='asc') {
      return function(a, b) {
        if(!a.hasOwnProperty(key) || 
           !b.hasOwnProperty(key)) {
      	  return 0; 
        }
        
        const varA = (typeof a[key] === 'string') ? 
          a[key].toUpperCase() : a[key];
        const varB = (typeof b[key] === 'string') ? 
          b[key].toUpperCase() : b[key];
          
        let comparison = 0;
        if (varA > varB) {
          comparison = 1;
        } else if (varA < varB) {
          comparison = -1;
        }
        return (
          (order == 'desc') ? 
          (comparison * -1) : comparison
        );
      };
    },
    closeKudoStats:function(){
      for(var kudo of this.kudos){
        if(this.$$('#stat_'+kudo.id)){
          this.$$('#stat_'+kudo.id).closeTable();  
        }
      }
      
    },
    getRanking:function(){
      var self=this;
      for(var user of this.users){
        var numFeedBack=0;
        firebase.database().ref(self.activeEvent +'/trackingUserComments/'+user.uid).once('value',function(snapshot) {
          var posts=snapshot.val();
          if (posts){
              numFeedBack=Object.keys(posts).length;
              self.users.find(function(currentValue, index, arr) {
              if(currentValue.uid === snapshot.key){
                currentValue.numFeedBack=numFeedBack;
                self.users.sort(function(a,b) {
                  return (a.numFeedBack > b.numFeedBack) ? -1 : ((b.numFeedBack > a.numFeedBack) ? 1 : 0);} );
                self.$$('#rankingComments').render();
              }
              });
          }
        });
      }

    },
    getUsers:function() {
      var self=this;
      this.closeKudoStats();
      firebase.database().ref(this.activeEvent +'/users').once('value',function(snapshot) {
        var users = snapshot.val();
        var numUsers=0;
        self.users=[];
        for (var user in users) {
          var _user={};
          numUsers++;
          _user.uid        = users[user].profile.uid;
          _user.name        = users[user].profile.name;
          _user.picture     = users[user].profile.picture;
          _user.numFeedBack = 0;
          self.push('users',_user);
        }
        self.numUsers=numUsers;
      });
    },
    unCollapse: function(e) {
      if(e.target.dataset.selector!='undefined'){
        this.$$(e.target.dataset.selector).toggle();  
      }
    },
    verifyAdmin:function(){
      var idBtnVote=this.$$('#id_admin_vote');
      idBtnVote.style.display = "none";
      if(this.isAdmin){
        idBtnVote.style.display = "inline-block";
        this.verifyActiveVote();
      }
      
    },
    verifyActiveVote:function(){
      var idBtnVote=this.$$('#id_admin_vote');
      var BtnVoteEnable=idBtnVote.classList.contains('kudo_enable');
      if(BtnVoteEnable){
        idBtnVote.classList.remove("kudo_enable");  
      }
      if(this.activeVotes){
        idBtnVote.classList.add("kudo_enable");  
      }else{
        idBtnVote.classList.remove("kudo_enable");  
      }
      
    },
    _updateActiveVote:function(){
      var refControl = firebase.database().ref(this.activeEvent +'/attributes');
      var btnActiveVotes=this.$$('#id_admin_vote');
      var classActiveVotes=btnActiveVotes.classList.contains('kudo_enable');
      var update = {};
      var _activeVotes=false;
      if(!classActiveVotes) {
        btnActiveVotes.classList.add("kudo_enable");
        _activeVotes=true;
      }else{
        btnActiveVotes.classList.remove("kudo_enable");
      }
      update["activeVotes"]=_activeVotes;
      refControl.update(update);
    },
  });
</script>
</dom-module>
