<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<!--<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">-->
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-label/iron-label.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-icons/places-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/paper-styles/demo-pages.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/star-rating/star-rating.html">
<!--<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">-->
<!--<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">-->
<link rel="import" href="kudos-cards.html">
<link rel="import" href="kudos-stats.html">
<link rel="import" href="kudos-about.html">
<link rel="import" href="kudos-positions-table.html">
<link rel="import" href="kudos-chatbot.html">
<link rel="import" href="kudos-comments.html">
<link rel="import" href="star-positions-table.html">
<link rel="import" href="kudos-award-table.html">
<dom-module id="kudos-app">
    <template>
        <style is="custom-style">
        :host {
        --app-primary-color: #094FA4; /*#4285f4;*/
        --app-secondary-color: black;
            display: block;
            height: 100vh;
        }
        .display_inline{
          display: inline-block;
        }
        app-header {
            color: #fff;
            background-color: #0051a3;
        }
        app-header paper-icon-button {
            --paper-icon-button-ink-color: white;
        }
        .logo{
            color: #fff;
        }
        paper-button.green {
          background-color: #4285f4;
          color: white;
        }
        .chatbot {
          background: #ffffff;
          height: 90vh;
        }
        </style>
        <link rel="import" href="../css/kudo-style.html">
        <style include="cards"></style>
        <div hidden$="{{logged}}" width="100%" style="text-align:center; margin-top:25%;">
            <div id="msgFail" style="color:red"></div>
            Bienvenid@ a Kudos, para poder dejar tu feedback debes identificarte:<br>
            <paper-button class="green" raised on-click="signInWithGoogle">
                <iron-icon icon="perm-identity"></iron-icon>
                Ingresar con mi cuenta Google (@bbva.com)
            </paper-button>
        </div>
        <div hidden$="{{!logged}}" width="100%" style="text-align:center;">
            <app-header-layout >
                <app-header fixed style$="background:[[eventBgColor]]">
                    <app-toolbar >
                        <paper-icon-button icon="arrow-back" id="mBack" on-tap="closeChat" style="display:none"></paper-icon-button>
                        <div>
                            <img src="[[eventLogo]]" width="40px" height="40px">
                        </div>
                        
                        <div main-title style="font-size: 3.0vmin !important;"><span style="font-size: 3.0vmin;" class="logo">KUDOS</span> | <span style="font-size:13px !important;">[[eventName]]</span></div>
                        
                        <template is="dom-if" if="{{selectEvent}}">
                            <paper-icon-button icon="view-list"   id="mAgenda" title="Tarjetas"     on-tap="showCards"></paper-icon-button>
                            <paper-icon-button icon="assessment"  id="mStats"  title="Estadísticas" on-tap="showStats"></paper-icon-button>
                        </template>
                        <paper-icon-button icon="help"        id="mHelp"   title="Acerca de"    on-tap="showAbout"></paper-icon-button>
                        <paper-icon-button icon="exit-to-app" id="mExit"   title="Salir"        on-tap="signOut"  ></paper-icon-button>

                        <paper-tooltip for="mAgenda" position="bottom" style="max-width:100px;">Agenda</paper-tooltip>
                        <paper-tooltip for="mStats"  position="bottom" style="max-width:100px;">Estadísticas</paper-tooltip>
                        <paper-tooltip for="mHelp"   position="bottom" style="max-width:100px;">Ayuda</paper-tooltip>
                        <paper-tooltip for="mExit"   position="bottom" style="max-width:100px;">Salir</paper-tooltip>
                    </app-toolbar>
                </app-header>
                <template is="dom-if" if="{{!selectEvent}}">
                    <div id="listInitial" style="margin-top:20px;width:90%;">
                        <template id="events" is="dom-repeat" items="{{listEvents}}" as="item">
                            <template is="dom-if" if="{{item.visible}}">
                                <div class="rate-header titleProject" style="background-color:#6bb8da;margin-top:8px;margin-left:5px;border-radius: 5px;">
                                  <div class="display_inline kudo_base" style$='background-image: url(../images/flags/{{item.flag}});margin-top: 5px;'></div>
                                  <div class="display_inline" style="width:60%;top: 40%;transform: translateY(-90%);font-weight:bolder;color:#fff!important;">
                                    {{item.name}}
                                  </div>
                                  <div class="display_inline" style="top: 40%;transform: translateY(-90%);font-weight:bolder;color:#fff!important;" on-click="loadEvent" data-selector="{{item.event}}">
                                    Ver
                                  </div>
                                </div>
                            </template>
                        </template>
                    </div>
                </template>
                
                <kudos-cards id="cards" style="display:none"></kudos-cards>
                <kudos-stats id="stats" style="display:none"></kudos-stats>
                <kudos-about id="about" style="display:none"></kudos-about>
                <kudos-chatbot id="chatbot" class="chatbot" style="display:none"></kudos-chatbot>
                <kudos-comments id="comments" style="display:none"></kudos-comments>
            </app-header-layout>
            </div>
        </div>
    </template>
    <script src="https://www.gstatic.com/firebasejs/3.0.4/firebase.js"></script>
    <script>
        Polymer({
            is: 'kudos-app',
            properties: {
                logged      : { type : Boolean, notify : false }, // Is Authenticated by Google?
                user        : { type : Object, notify : true },   // User Logged In
                userEmail   : { type : String, notify : true, observer : '_userEmailChanged' },
                userName    : { type : String, notify : true },
                userPicture : { type : String, notify : true },
                activeVotes : { type : Boolean, notify : true },
                eventName   : { type : String, notify : true, value : "BBVA" },   // Event Title
                eventLogo   : { type : String, value  : '../images/bbva.png', notify : true},
                eventBgColor: { type : String, notify : true},
                admin       : { type : String, notify : true},
                
                listEvents       : { type : Array, notify : true},
                selectEvent : { type: Boolean, value : false, notify: true},
            },
            _userEmailChanged:function(newVal, oldVal) {
                //console.log('_userEmailChanged newVal:'+newVal+' oldVal:'+oldVal);
            },
            _toggleCloseVotes:function(){
                
            },
            ready:function() {
                this.addEventListener('showChatbot', this.showChatbot);
                this.addEventListener('showComments', this.showComments);
                firebase.initializeApp({
                    apiKey: "AIzaSyCQgB2pehO3brhVrS6xhd-DKBx0NWV6CfE",
                    authDomain: "bbva-kudos.firebaseapp.com",
                    databaseURL: "https://bbva-kudos.firebaseio.com",
                    projectId: "bbva-kudos",
                    storageBucket: "bbva-kudos.appspot.com",
                    messagingSenderId: "962944540684"
                });
                var parent = this;
                firebase.auth().onAuthStateChanged(function(account) {
                    if (account) {
                        //console.log("user id: " + firebase.auth().currentUser.uid);
                        // || account.email.toUpperCase().indexOf('DEMOBBVA@GMAIL.COM')<0 
                        if (account.email.toUpperCase().indexOf('@BBVA.COM')>=0  || account.email.toUpperCase().indexOf('DEMOBBVA@GMAIL.COM')>=0 ){
                            parent.set('user', account);
                            parent.set('userEmail', account.email);
                            if(account.displayName){
                                parent.$.cards.userFirstName    = account.displayName.split(' ')[0];    
                                parent.$.cards.userName         = account.displayName;
                                parent.$.chatbot.userFirstName  = parent.$.cards.userFirstName;
                                parent.$.comments.userFirstName = parent.$.chatbot.userFirstName;
                                parent.$.comments.userName      = parent.$.cards.userName ;
                            }else{
                                parent.$.cards.userFirstName    = account.email;
                                parent.$.cards.userName         = account.email.toString().replace(/[@.]/g,'_');
                                parent.$.chatbot.userFirstName  = account.email;
                                parent.$.comments.userFirstName = account.email;
                                parent.$.comments.userName      = parent.$.cards.userName ;
                            }
                            parent.$.chatbot.userEmail      = account.email.toString().replace(/[@.]/g,'_');
                            parent.$.cards.userEmail = account.email.toString().replace(/[@.]/g,'_');
                            parent.$.cards.userPicture = account.photoURL || '../images/avatar_login.png';
                            parent.$.comments.userPicture = parent.$.cards.userPicture;
                            parent.$.comments.userUID     = parent.user.uid;
                            
                            parent.set('userName', parent.$.cards.userName);
                            parent.set('userPicture', parent.$.cards.userPicture);
                            parent.set('logged', true);
                            //firebase.database().ref("activeEvent").once("value").then(function(snapshot) {
                                //var activeEvent = 'events/' + snapshot.val(); //console.log('activo:'+activo);
                                parent.loadlistEvents();
                            //});
                        }else{
                            parent.$.msgFail.innerHTML="Tu usuario no es BBVA";
                            parent.signOut();
                        }
                    }
                });
                
            },
            loadlistEvents:function(){
                var self = this;
                self.listEvents = [];
                firebase.database().ref("listEvents").once("value").then(function(snapshot) {
                    snapshot.forEach(function(child) {
                        var _item=child.val();
                        self.push('listEvents', _item);
                    });
                });
            },
            loadEvent:function(e){
                var event='';
                if(e.target.dataSelector!='undefined'){
                    event=e.target.dataSelector;
                    this._loadEvent(event);
                    this.selectEvent=true;
                }else{
                    event=null;
                }
            },
            _loadEvent:function(event){   
                var activeEvent = 'events/'+event; //console.log('activo:'+activo);
                this.set('activeEvent', activeEvent); //console.log('parent.activeEvent:', parent.activeEvent);
                this.$.cards.activeEvent = activeEvent;
                this.$.stats.activeEvent = activeEvent;
                this.$.about.activeEvent = activeEvent;
                this.$.comments.activeEvent = activeEvent;
                this.$.about.getKudos();
                this.$.about.getMember();
                var parent=this;
                parent.$.cards.isAdmin=false;
                firebase.database().ref(activeEvent).once("value").then(function(snapshot) {
                    parent.set('eventName', snapshot.val().attributes.title); 
                    parent.set('admin', snapshot.val().attributes.admin); 
                    if (parent.userEmail==parent.admin){
                        parent.$.stats.isAdmin=true;
                    }
                    if (snapshot.val().attributes.withStars!=null){
                        parent.$.cards.withStars=snapshot.val().attributes.withStars;
                        parent.$.stats.withStars=snapshot.val().attributes.withStars;
                    }
                    if (snapshot.val().attributes.withKudos!=null){
                        parent.$.cards.withKudos=snapshot.val().attributes.withKudos;
                        parent.$.stats.withKudos=snapshot.val().attributes.withKudos;
                    }
                    if (snapshot.val().attributes.withFeedback!=null){
                        parent.$.cards.withFeedback=snapshot.val().attributes.withKudos;
                        parent.$.stats.withFeedback=snapshot.val().attributes.withKudos;
                    }
                    if (snapshot.val().attributes.withExclusiveKudo!=null){
                        parent.$.cards.withExclusiveKudo=snapshot.val().attributes.withExclusiveKudo;
                        parent.$.stats.withExclusiveKudo=snapshot.val().attributes.withExclusiveKudo;
                    }
                    if (snapshot.val().attributes.withJury!=null){
                        parent.$.stats.withJury=snapshot.val().attributes.withJury;
                        parent.$.stats.membersJury=snapshot.val().attributes.membersJury;
                        parent.$.cards.membersJury=snapshot.val().attributes.membersJury;
                    }
                    if (snapshot.val().attributes.withKudosAward!=null){
                        parent.$.stats.withKudosAward=snapshot.val().attributes.withKudosAward;
                        parent.$.cards.withKudosAward=snapshot.val().attributes.withKudosAward;
                    }
                    parent.$.cards.numStars=snapshot.val().attributes.numStars;
                    parent.$.cards.uid=parent.user.uid;
                    parent.$.cards.getKudos();
                    parent.$.cards.getKudosAward();
                    parent.$.cards.getBlocks();
                    parent.$.stats.getKudos();
                    parent.$.stats.getKudosAward();
                    parent.$.stats.getBlocks();

                    parent.set("eventLogo",snapshot.val().attributes.eventLogo);
                    parent.set("eventBgColor",snapshot.val().attributes.eventBgColor);
                    
                    parent.$.cards.eventBgImage=snapshot.val().attributes.eventBgImage;
                    
                    parent.showCards();
                });
                var updates = {};
                var userData = {
                    name: parent.userName,
                    picture: parent.userPicture,
                    uid: parent.user.uid
                };
                var ref = firebase.database().ref(activeEvent + "/users/" + parent.$.cards.userEmail);
                updates["/profile"] = userData;
                ref.update(updates);
                
                firebase.database().ref(activeEvent+'/attributes/activeVotes').on('value', function(snapshot) {
                    parent.set("activeVotes",snapshot.val());
                    parent.$.cards.ActiveClassVotes='';
                    parent.$.cards.activeVotes=snapshot.val();
                    parent.$.stats.activeVotes=snapshot.val();
                    if(snapshot.val()==false){
                        parent.$.cards.ActiveClassVotes='kudo_opacity';
                    }
                });
            },
            signInWithGoogle:function() {
                if (!firebase.auth().currentUser) {
                    var provider = new firebase.auth.GoogleAuthProvider();
                    var parent = this;
                    firebase.auth().signInWithRedirect(provider);
                    firebase.auth().getRedirectResult().then(function(result) {
                      parent.set('logged', true);
                      parent.showCards();
                    }).catch(function(error) { //error.code //error.message //error.credential
                        if (error.code === 'auth/account-exists-with-different-credential') {
                            alert('You have already signed up with a different auth provider for that email.');
                        } else {
                            console.log('error : ' + error);
                        }
                    });
                } else {
                    //firebase.auth().signOut();
                }
            },
            getKudos:function(){
                var self = this;
                firebase.database().ref(this.activeEvent + '/kudos').once('value').then(function(snapshot) {
                    self.kudos = [];
                    snapshot.forEach(function(child) {
                        var kudo = child.val();
                        kudo.id=child.key;
                        self.push('kudos', kudo);
                    });
                });
            },
            showCards:function() {
                if(this.logged){
                    this.$.cards.style.display = "block";
                    this.$.stats.style.display = "none";
                    this.$.about.style.display = "none";
                    this.$.chatbot.style.display = "none";
                    this.$.comments.style.display = "none";
                }
            },
            showStats:function() {
                if(this.logged){
                    this.$.cards.style.display = "none";
                    this.$.stats.style.display = "block";
                    this.$.about.style.display = "none";
                    this.$.chatbot.style.display = "none";
                    this.$.comments.style.display = "none";
                    this.$.stats.getUsers();
                    this.$.stats.verifyAdmin();
                }
            },
            showAbout:function() {
                if(this.logged){
                    this.$.cards.style.display = "none";
                    this.$.stats.style.display = "none";
                    this.$.about.style.display = "block";
                    this.$.chatbot.style.display = "none";
                    this.$.comments.style.display = "none";
                }
            },
            showChatbot:function(event) {
                if(this.logged){
                    this.$.mBack.style.display = "block";
                    this.$.cards.style.display = "none";
                    this.$.stats.style.display = "none";
                    this.$.about.style.display = "none";
                    this.$.comments.style.display = "none";
                    this.$.chatbot.style.display = "block";
                }
                this.$.chatbot.initBot(event.detail);
            },
            closeChat:function() {
                if(this.logged){
                    this.$.mBack.style.display = "none";
                    this.$.cards.style.display = "block";
                    this.$.stats.style.display = "none";
                    this.$.about.style.display = "none";
                    this.$.chatbot.style.display = "none";
                    this.$.comments.style.display = "none";
                }
                this.$.chatbot.closeBot();
                this.$.comments.closeChat();
            },
            showComments:function(event) {
                if(this.logged){
                    this.$.mBack.style.display = "block";
                    this.$.cards.style.display = "none";
                    this.$.stats.style.display = "none";
                    this.$.about.style.display = "none";
                    this.$.chatbot.style.display = "none";
                    this.$.comments.style.display = "block";
                }
                this.$.comments.initChat(event.detail);
            },
            signOut:function() {
                firebase.auth().signOut();
                this.set('logged', false);
            }
        });
    </script>
</dom-module>
